<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
     <link rel="shortcut icon" href="../images/Logo_Amazing_Events.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" >
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" >
    <link rel="stylesheet" href="../styles.css/style.css">

    <title>Amazing Events | Past Events</title>
</head>

<body>
  <div id="appPast">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-2" id="navp">
          <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
            <a class="nav d-flex navbar-brand align-self-start" href="../index.html">
              <img src="../images/Logo_Amazing_Events.png" alt="Amazing Events logo">
            </a>
  
            <div>
              <button
                class="navbar-toggler ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
              </button>
              <ul class="navbar-nav collapse navbar-collapse"  id="navbarSupportedContent" >
                <li class="nav-item mx-2">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="./upcomingevents.html" >Upcoming Events</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">Past Events</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="./contact.html">Contact</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="./stats.html">Stats</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    
         <div class="slider container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col text-center">
            <a href="./upcomingevents.html"
              ><i class="bi bi-chevron-left text-dark"></i
            ></a>
          </div>
          <div class="col-6 col-sm-8 text-center py-3">
            <h1>Past Events</h1>
          </div>
          <div class="col text-center">
            <a href="./contact.html"
              ><i class="bi bi-chevron-right text-dark"></i
            ></a>
          </div>
        </div>
      </div>
</header>

<main>
 
  <div v-show="cardsBoolean">
    <form class="d-flex justify-content-between flex-wrap pt-2">
        <div id="formCategories" class="d-flex flex-wrap formCategories">
            <div v-for="category of categories" class="d-flex flex-wrap form-check form-switch">
                <label class="d-inline-flex my-2 mx-2">
                    <input v-model="categoriesSelected" class="form-check-input me-3" :value="category" role="switch" :for="category" :id="category" type="checkbox">{{category}}
                </label>
            </div>
        </div>
    <div class="d-flex me-4 formSearch">
        <input  v-model="inputText" class="form-control d-inline-flex mx-2 px-5" type="text" placeholder="Find the events you want" aria-label="Search">
        <button class="btn" type="submit" >
          <i class="bi bi-search"></i>
        </button>   
    </div>
    {{filtersUnited}}
  </form>
</div>

<div class="d-flex justify-content-center align-items-center">
  <h1 class="text-center" v-if="cardsPastEvents == 0" >Event not found. Check that it is well written.</h1>
</div>
<h1 v-if="!cardsPastEvents.lenght == 0" class="text-center">Couldn't load data</h1>
<div id="cardsIndex" class="cards d-flex justify-content-around flex-wrap mt-4">            
  <div v-show="cardsBoolean" v-for="card of cardsPastEvents" class="card mx-2 my-2">
      <img :src="card.image" class="card-img-top" :alt="card.category">
      <div class="card-body text-center">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.description}}</p>
          <div class="d-flex justify-content-between">
              <p class="pt-2">Price: ${{card.price}}</p>
              <button @click="goDetails(card._id)" class="btn btn-nav align-self-center go">Details</button>
          </div>
      </div>
  </div>
</div>

<div v-show="cardDetailsBoolean">
  <div class="container d-flex justify-content-center">
      <div class="card my-3" id="cardDetails">
          <div  class="row g-0">
              <div class="col-md-6 d-flex justify-content-center align-items-center">
                  <img :src="cardDetails.image" id="cardImg" class="img-fluid borderRadius " :alt="cardDetails.name">
              </div>
              <div class="col-md-6">
                  <div class="card-body">
                      <dl class="card-text">
                          <dt>Name</dt>
                          <dd>{{cardDetails.name}}</dd>
                          <dt>Date</dt>
                          <dd>{{cardDetails.date}}</dd>
                          <dt>Description</dt>
                          <dd>{{cardDetails.description}}</dd>
                          <dt>Category</dt>
                          <dd>{{cardDetails.category}}</dd>
                          <dt>Place</dt>
                          <dd>{{cardDetails.place}}</dd>
                          <dt>Capacity</dt>
                          <dd>{{cardDetails.capacity}}</dd>
                          <dt>{{cardDetails.assistance ? "Asistence" : "Estimate"}}</dt>
                          <dd>{{cardDetails.assistance || cardDetails.estimate}}</dd>
                          <dt>Price</dt>
                          <dd>{{cardDetails.price}}</dd>
                      </dl>
                      <div class="d-flex justify-content-end">
                          <button @click="goHome()" class="btn btn-details align-self-center go">Go Back </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</main>

 <footer>
        
  <div class="container-fluid text-light bg-dark pt-3" id="bot">
    <div class="row d-flex flex-wrap justify-content-between">
      <div class="col social d-flex justify-content-start flex-grow-1">
        <div class="px-3">
          <a><i class="bi bi-instagram"></i></a>
        </div>
        <div class="px-3">
          <a><i class="bi bi-facebook"></i></a>
        </div>
        <div class="px-3">
          <a><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
      <div class="col cohort d-flex justify-content-end">
        <div class="px-3 ms-auto"><p>FE11-TM  Sabaris Juan Bautista</p></div>
        </div>
      </div>
    </div>
 </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="../scripts/pastevents.js"></script>
</body>
</html>